xsd/done/MeasurementSeriesRevisionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== MeasurementSeriesRevisionRequest XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu 
   Schema version: 1.0.0
   Schema date: 27 October 2020

   Copyright (C) nedu (2020). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="1p0" xmlns:ccma="urn:nedu:measurements:data:measurementseriesrevisionrequest:1:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:nedu:measurements:data:measurementseriesrevisionrequest:1:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="MeasurementSeriesRevisionRequest" type="ccma:MeasurementSeriesRevisionRequest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MeasurementSeriesRevisionRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MeasurementSeriesRevisionRequest</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Herzieningsverzoek na controle meetgegevens</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MeasurementSeriesRevisionRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MeasurementSeriesRevisionRequest</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Herzieningsverzoek na controle meetgegevens</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Measurement_Series"  type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Measurement_Series</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Measurement_Series</ccts:DictionaryEntryName>
<ccts:Definition>A set of time-ordered quantities being exchanged in relation to a product.
In the ESMP profile, the TimeSeries provides not only time-ordered quantities but also time-ordered information.
</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:MeasurementSeriesRevisionRequest_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:MeasurementSeriesRevisionRequest_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Destination</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Manifest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Source</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Destination</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Receiver</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Service</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Receiver</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:MeasurementSeriesRevisionRequest_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Service</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Manifest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:MeasurementSeriesRevisionRequest_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Source</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Source.Authority</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:MeasurementSeriesRevisionRequest_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Measurement_Series</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Measurement_Series</ccts:DictionaryEntryName>
<ccts:Definition>A set of time-ordered quantities being exchanged in relation to a product.
In the ESMP profile, the TimeSeries provides not only time-ordered quantities but also time-ordered information.
</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:MeasurementSeriesRevisionRequest_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Measurement_Series.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Measurement_Series.mRID</ccts:DictionaryEntryName>
<ccts:Definition>A unique identification of the time series.</ccts:Definition>
<ccts:BusinessTermName>Kenmerk bericht (UUID)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="product"  type="ccma:MeasurementSeriesRevisionRequest_EnergyProductType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Measurement_Series.product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Measurement_Series.product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the energy product (electricity, gas etc.)</ccts:Definition>
<ccts:BusinessTermName>Productsoort</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="referenceTimeSeries_mRID" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Measurement_Series.referenceTimeSeries_mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Measurement_Series.referenceTimeSeries_mRID</ccts:DictionaryEntryName>
<ccts:Definition>Reference to earlier received time series</ccts:Definition>
<ccts:BusinessTermName>Referentie naar meetgegevens</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="reasonRevisionRequest"  type="ccma:MeasurementSeriesRevisionRequest_String">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Measurement_Series.reasonRevisionRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Measurement_Series.reasonRevisionRequest</ccts:DictionaryEntryName>
<ccts:Definition>Reason for this revision request</ccts:Definition>
<ccts:BusinessTermName>Reden reclamatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="explanationRevisionRequest" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_String">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Measurement_Series.explanationRevisionRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Measurement_Series.explanationRevisionRequest</ccts:DictionaryEntryName>
<ccts:Definition>Explanation for this revision request</ccts:Definition>
<ccts:BusinessTermName>Toelichting reclamatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MarketEvaluationPoint"  type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_MarketEvaluationPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketEvaluationPoint</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketEvaluationPoint</ccts:DictionaryEntryName>
<ccts:Definition>The location where one or more products are measured. This may be a physical or virtual location.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MarketParticipant"  type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_MarketParticipant">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketParticipant</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketParticipant</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the party participating in energy market business processes.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DateAndOrTime"  type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_DateAndOrTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#DateAndOrTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime</ccts:DictionaryEntryName>
<ccts:Definition>The Date and or the Time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Detail_Series" minOccurs="0" maxOccurs="unbounded" type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Detail_Series</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Detail_Series</ccts:DictionaryEntryName>
<ccts:Definition>A set of similar physical or conceptual objects defined for the same period or point of time</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_DateAndOrTime ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_DateAndOrTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#DateAndOrTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime</ccts:DictionaryEntryName>
<ccts:Definition>The Date and or the Time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="startDateTime"  type="ccma:MeasurementSeriesRevisionRequest_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#DateAndOrTime.startDateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime.startDateTime</ccts:DictionaryEntryName>
<ccts:Definition>Start date/time of the period as per ISO 8601 YYYY-MM-DDThh:mm:ssZ.</ccts:Definition>
<ccts:BusinessTermName>Startdatumtijd periode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="endDateTime"  type="ccma:MeasurementSeriesRevisionRequest_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#DateAndOrTime.endDateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime.endDateTime</ccts:DictionaryEntryName>
<ccts:Definition>End date/time of the period as per ISO 8601 YYYY-MM-DDThh:mm:ssZ.</ccts:Definition>
<ccts:BusinessTermName>Einddatumtijd periode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Detail_Series</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Detail_Series</ccts:DictionaryEntryName>
<ccts:Definition>A set of similar physical or conceptual objects defined for the same period or point of time</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="resolution"  type="ccma:MeasurementSeriesRevisionRequest_DurationType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Detail_Series.resolution</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Detail_Series.resolution</ccts:DictionaryEntryName>
<ccts:Definition>The definition of the number of units of time that compose an individual step within a period.</ccts:Definition>
<ccts:BusinessTermName>Onbalansverrekeningsperiode (elektriciteit)/meetperiode (elektriciteit)/PTE (gas)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Product"  type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.
</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FlowDirection" minOccurs="0" maxOccurs="1" type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Original_Point" minOccurs="1" maxOccurs="unbounded" type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Original_Point">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Original_Point</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Original_Point</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the values being addressed within a specific interval of time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Proposed_Point" minOccurs="0" maxOccurs="unbounded" type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Proposed_Point">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Proposed_Point</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Proposed_Point</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the values being addressed within a specific interval of time</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_FlowDirection ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="direction"  type="ccma:MeasurementSeriesRevisionRequest_EnergyFlowDirectionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#FlowDirection.direction</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection.direction</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the direction.</ccts:Definition>
<ccts:BusinessTermName>Energierichting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Original_Point ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Original_Point">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Original_Point</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Original_Point</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the values being addressed within a specific interval of time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="position"  type="ccma:MeasurementSeriesRevisionRequest_Integer">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Original_Point.position</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Original_Point.position</ccts:DictionaryEntryName>
<ccts:Definition>A sequential value representing the relative position within a given time interval.</ccts:Definition>
<ccts:BusinessTermName>Positie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="quantity"  type="ccma:MeasurementSeriesRevisionRequest_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Original_Point.quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Original_Point.quantity</ccts:DictionaryEntryName>
<ccts:Definition>The principal quantity or the accepted offer quantity identified for a point.</ccts:Definition>
<ccts:BusinessTermName>Volume</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Product ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.
</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="identification"  type="ccma:MeasurementSeriesRevisionRequest_EnergyProductIdentifierType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Product.identification</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product.identification</ccts:DictionaryEntryName>
<ccts:Definition>The unique identification of the product.</ccts:Definition>
<ccts:BusinessTermName>Product ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="measureUnit"  type="ccma:MeasurementSeriesRevisionRequest_EnergyUnitType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Product.measureUnit</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product.measureUnit</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the measure unit.</ccts:Definition>
<ccts:BusinessTermName>Energie eenheid</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Proposed_Point ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_Detail_Series_Proposed_Point">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Proposed_Point</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Proposed_Point</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the values being addressed within a specific interval of time</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="position"  type="ccma:MeasurementSeriesRevisionRequest_Integer">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Proposed_Point.position</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Proposed_Point.position</ccts:DictionaryEntryName>
<ccts:Definition>A sequential value representing the relative position within a given time interval.</ccts:Definition>
<ccts:BusinessTermName>Positie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="quantity"  type="ccma:MeasurementSeriesRevisionRequest_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Proposed_Point.quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Proposed_Point.quantity</ccts:DictionaryEntryName>
<ccts:Definition>The principal quantity or the accepted offer quantity identified for a point.</ccts:Definition>
<ccts:BusinessTermName>Volume</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_MarketEvaluationPoint ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_MarketEvaluationPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketEvaluationPoint</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketEvaluationPoint</ccts:DictionaryEntryName>
<ccts:Definition>The location where one or more products are measured. This may be a physical or virtual location.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:MeasurementSeriesRevisionRequest_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketEvaluationPoint.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketEvaluationPoint.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the evaluation point.</ccts:Definition>
<ccts:BusinessTermName>EAN code aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_MarketParticipant ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_MarketParticipant">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketParticipant</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketParticipant</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the party participating in energy market business processes.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:MeasurementSeriesRevisionRequest_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketParticipant.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketParticipant.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The identification of a party in the energy market.</ccts:Definition>
<ccts:BusinessTermName>EAN code meetverantwoordelijke</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MarketRole"  type="ccma:MeasurementSeriesRevisionRequest_Measurement_Series_MarketParticipant_MarketRole">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketRole</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketRole</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the intended behaviour of a market participant played within a given business process.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MeasurementSeriesRevisionRequest_Measurement_Series_MarketParticipant_MarketRole ===== -->
<!-- ================================================================== -->
<xsd:complexType name="MeasurementSeriesRevisionRequest_Measurement_Series_MarketParticipant_MarketRole">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketRole</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketRole</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the intended behaviour of a market participant played within a given business process.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="type"  type="ccma:MeasurementSeriesRevisionRequest_MarketRoleType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketRole.type</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketRole.type</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the role played by a market player.</ccts:Definition>
<ccts:BusinessTermName>Marktrol</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#DateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime) (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Decimal ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Decimal</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Decimal</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Decimal</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DocumentIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#DocumentIDType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DocumentIDType</ccts:DictionaryEntryName>
<ccts:Definition>Unieke document ID (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Kenmerk bericht (UUID)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DurationType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_DurationType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#DurationType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DurationType</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Onbalansverrekeningsperiode (elektriciteit)/meetperiode (elektriciteit)/PTE (gas)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyFlowDirectionType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_EnergyFlowDirectionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EnergyFlowDirectionType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyFlowDirectionType</ccts:DictionaryEntryName>
<ccts:Definition>Combinatie indien op de aansluiting naast consumptie (afname uit het net) tevens productie (invoeding op het net) optreedt. Indien geen waarde is opgegeven door de NB wordt default automatisch &lt;i&gt;Levering&lt;/i&gt; gebruikt. Toegestane waarden: LVR, TLV, CMB. Meetrichting per telwerk. Toegestane waarden: LVR, TLV (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code leveringsrichting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyProductIdentifierType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_EnergyProductIdentifierType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EnergyProductIdentifierType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyProductIdentifierType</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Code energie (EAN)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="13"/>
<xsd:pattern value="[0-9]{13}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyProductType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_EnergyProductType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EnergyProductType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyProductType</ccts:DictionaryEntryName>
<ccts:Definition>Code productsoort (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code productsoort</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyUnitType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_EnergyUnitType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#EnergyUnitType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyUnitType</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Code energie eenheid</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GLNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#GLNEANCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>GLNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Location Number (GLN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Location Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="13"/>
<xsd:pattern value="[0-9]{13}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GSRNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#GSRNEANCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Identifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Indicator</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Integer ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_Integer">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Integer</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Integer</ccts:DictionaryEntryName>
<ccts:Definition>Integer (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Integer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:integer">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MarketRoleType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_MarketRoleType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#MarketRoleType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketRoleType</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Code marktrol</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Numeric</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: String ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_String">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#String</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>String</ccts:DictionaryEntryName>
<ccts:BusinessTermName>String</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="MeasurementSeriesRevisionRequest_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:measurementseriesrevisionrequest#Text</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
</xsd:schema>