xsd/done/VolumeSeriesNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== VolumeSeriesNotification XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu 
   Schema version: 1.0.0
   Schema date: 25 September 2020

   Copyright (C) nedu (2020). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="1p0" xmlns:ccma="urn:nedu:measurements:data:volumeseriesnotification:1:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:nedu:measurements:data:volumeseriesnotification:1:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="VolumeSeriesNotification" type="ccma:VolumeSeriesNotification">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#VolumeSeriesNotification</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>VolumeSeriesNotification</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#VolumeSeriesNotification</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>VolumeSeriesNotification</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:VolumeSeriesNotification_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Volume_Series"  type="ccma:VolumeSeriesNotification_Volume_Series">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Series</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Series</ccts:DictionaryEntryName>
<ccts:Definition>A set of time-ordered quantities being exchanged in relation to a product.
In the ESMP profile, the TimeSeries provides not only time-ordered quantities but also time-ordered information.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:VolumeSeriesNotification_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:VolumeSeriesNotification_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Destination</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Manifest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:VolumeSeriesNotification_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Source</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Destination</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Receiver</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Service</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Receiver</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:VolumeSeriesNotification_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Service</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Manifest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:VolumeSeriesNotification_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:VolumeSeriesNotification_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Source</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Source.Authority</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:VolumeSeriesNotification_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Series</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Series</ccts:DictionaryEntryName>
<ccts:Definition>A set of time-ordered quantities being exchanged in relation to a product.
In the ESMP profile, the TimeSeries provides not only time-ordered quantities but also time-ordered information.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesNotification_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Series.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Series.mRID</ccts:DictionaryEntryName>
<ccts:Definition>A unique identification of the time series.</ccts:Definition>
<ccts:BusinessTermName>Kenmerk bericht (UUID)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="product"  type="ccma:VolumeSeriesNotification_EnergyProductType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Series.product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Series.product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the energy product (electricity, gas etc.)</ccts:Definition>
<ccts:BusinessTermName>Productsoort</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="referenceRevisionRequest_mRID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Series.referenceRevisionRequest_mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Series.referenceRevisionRequest_mRID</ccts:DictionaryEntryName>
<ccts:Definition>Reference to an earlier received revision request</ccts:Definition>
<ccts:BusinessTermName>Referentie naar herzieningsverzoek</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MarketEvaluationPoint"  type="ccma:VolumeSeriesNotification_Volume_Series_MarketEvaluationPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#MarketEvaluationPoint</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketEvaluationPoint</ccts:DictionaryEntryName>
<ccts:Definition>The location where one or more products are measured. This may be a physical or virtual location.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MarketParticipant"  type="ccma:VolumeSeriesNotification_Volume_Series_MarketParticipant">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#MarketParticipant</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketParticipant</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the party participating in energy market business processes.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Domain"  type="ccma:VolumeSeriesNotification_Volume_Series_Domain">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Domain</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Domain</ccts:DictionaryEntryName>
<ccts:Definition>A domain covering a number of related objects, such as market balance area, grid area, borders etc.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DateAndOrTime"  type="ccma:VolumeSeriesNotification_Volume_Series_DateAndOrTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#DateAndOrTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime</ccts:DictionaryEntryName>
<ccts:Definition>The Date and or the Time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Volume_Quantity" minOccurs="1" maxOccurs="unbounded" type="ccma:VolumeSeriesNotification_Volume_Series_Volume_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RestVolume_Quantity" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Volume_Series_RestVolume_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#RestVolume_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>RestVolume_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Max_Quantity" minOccurs="0" maxOccurs="unbounded" type="ccma:VolumeSeriesNotification_Volume_Series_Max_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Max_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Max_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="WeekMax_Quantity" minOccurs="0" maxOccurs="unbounded" type="ccma:VolumeSeriesNotification_Volume_Series_WeekMax_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#WeekMax_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>WeekMax_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Register" minOccurs="0" maxOccurs="unbounded" type="ccma:VolumeSeriesNotification_Volume_Series_Register">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Register</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Register</ccts:DictionaryEntryName>
<ccts:Definition>A device that indicates or records units of the commodity or other quantity measured.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_DateAndOrTime ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_DateAndOrTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#DateAndOrTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime</ccts:DictionaryEntryName>
<ccts:Definition>The Date and or the Time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="startDateTime"  type="ccma:VolumeSeriesNotification_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#DateAndOrTime.startDateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime.startDateTime</ccts:DictionaryEntryName>
<ccts:Definition>Start date/time of the period as per ISO 8601 YYYY-MM-DDThh:mm:ssZ.</ccts:Definition>
<ccts:BusinessTermName>Startdatumtijd periode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="endDateTime"  type="ccma:VolumeSeriesNotification_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#DateAndOrTime.endDateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime.endDateTime</ccts:DictionaryEntryName>
<ccts:Definition>End date/time of the period as per ISO 8601 YYYY-MM-DDThh:mm:ssZ.</ccts:Definition>
<ccts:BusinessTermName>Einddatumtijd periode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Domain ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Domain">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Domain</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Domain</ccts:DictionaryEntryName>
<ccts:Definition>A domain covering a number of related objects, such as market balance area, grid area, borders etc.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesNotification_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Domain.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Domain.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The unique identification of the domain.</ccts:Definition>
<ccts:BusinessTermName>EAN code netgebied</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_MarketEvaluationPoint ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_MarketEvaluationPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#MarketEvaluationPoint</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketEvaluationPoint</ccts:DictionaryEntryName>
<ccts:Definition>The location where one or more products are measured. This may be a physical or virtual location.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesNotification_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#MarketEvaluationPoint.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketEvaluationPoint.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the evaluation point.</ccts:Definition>
<ccts:BusinessTermName>EAN code aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_MarketParticipant ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_MarketParticipant">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#MarketParticipant</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketParticipant</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the party participating in energy market business processes.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesNotification_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#MarketParticipant.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>MarketParticipant.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The identification of a party in the energy market.</ccts:Definition>
<ccts:BusinessTermName>EAN code meetverantwoordelijke</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Max_Quantity ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Max_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Max_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Max_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="quantity"  type="ccma:VolumeSeriesNotification_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Max_Quantity.quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Max_Quantity.quantity</ccts:DictionaryEntryName>
<ccts:Definition>The quantity value.
The association role provides the information about what is expressed.</ccts:Definition>
<ccts:BusinessTermName>Piekbelasting (elektriciteit (kWMax) en gas)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Product"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FlowDirection" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Volume_Series_Register_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Register ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Register">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Register</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Register</ccts:DictionaryEntryName>
<ccts:Definition>A device that indicates or records units of the commodity or other quantity measured.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesNotification_RegisterIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Register.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Register.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the register.</ccts:Definition>
<ccts:BusinessTermName>Telwerk ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="timeframeType" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_EnergyTariffType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Register.timeframeType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Register.timeframeType</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the timeframe.</ccts:Definition>
<ccts:BusinessTermName>Tariefzone</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Product"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FlowDirection"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Meter"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_Meter">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Meter</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Meter</ccts:DictionaryEntryName>
<ccts:Definition>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Reading" minOccurs="1" maxOccurs="unbounded" type="ccma:VolumeSeriesNotification_Volume_Series_Register_Reading">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Reading</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reading</ccts:DictionaryEntryName>
<ccts:Definition>Specific value measured by a meter or other asset, or calculated by a system. Each Reading is associated with a specific ReadingType.
</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Register_FlowDirection ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Register_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="direction"  type="ccma:VolumeSeriesNotification_EnergyFlowDirectionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#FlowDirection.direction</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection.direction</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the direction.</ccts:Definition>
<ccts:BusinessTermName>Energierichting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Register_Meter ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Register_Meter">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Meter</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Meter</ccts:DictionaryEntryName>
<ccts:Definition>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesNotification_EnergyMeterIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Meter.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Meter.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The unique identification of the meter.</ccts:Definition>
<ccts:BusinessTermName>Meter ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Register_Product ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Register_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="identification"  type="ccma:VolumeSeriesNotification_EnergyProductIdentifierType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product.identification</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product.identification</ccts:DictionaryEntryName>
<ccts:Definition>The unique identification of the product.</ccts:Definition>
<ccts:BusinessTermName>Product ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="measureUnit"  type="ccma:VolumeSeriesNotification_EnergyUnitType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product.measureUnit</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product.measureUnit</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the measure unit.</ccts:Definition>
<ccts:BusinessTermName>Energie eenheid</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Register_Reading ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Register_Reading">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Reading</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reading</ccts:DictionaryEntryName>
<ccts:Definition>Specific value measured by a meter or other asset, or calculated by a system. Each Reading is associated with a specific ReadingType.
</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="value"  type="ccma:VolumeSeriesNotification_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Reading.value</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reading.value</ccts:DictionaryEntryName>
<ccts:Definition>The reading value.</ccts:Definition>
<ccts:BusinessTermName>Stand</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="origin"  type="ccma:VolumeSeriesNotification_OriginType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Reading.origin</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reading.origin</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the origin.</ccts:Definition>
<ccts:BusinessTermName>Herkomstindicatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Reading_DateAndOrTime"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_Reading_Reading_DateAndOrTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Reading_DateAndOrTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reading_DateAndOrTime</ccts:DictionaryEntryName>
<ccts:Definition>The Date and or the Time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Register_Reading_Reading_DateAndOrTime ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Register_Reading_Reading_DateAndOrTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Reading_DateAndOrTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reading_DateAndOrTime</ccts:DictionaryEntryName>
<ccts:Definition>The Date and or the Time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="date"  type="ccma:VolumeSeriesNotification_Date">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Reading_DateAndOrTime.date</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reading_DateAndOrTime.date</ccts:DictionaryEntryName>
<ccts:Definition>The date as &quot;YYYY-MM-DD&quot;, which conforms with ISO 8601.</ccts:Definition>
<ccts:BusinessTermName>Opname datum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_RestVolume_Quantity ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_RestVolume_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#RestVolume_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>RestVolume_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="quantity"  type="ccma:VolumeSeriesNotification_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#RestVolume_Quantity.quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>RestVolume_Quantity.quantity</ccts:DictionaryEntryName>
<ccts:Definition>The quantity value.
The association role provides the information about what is expressed.</ccts:Definition>
<ccts:BusinessTermName>Restvolume gas</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Product"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FlowDirection"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_Volume_Quantity ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_Volume_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="quantity"  type="ccma:VolumeSeriesNotification_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Quantity.quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Quantity.quantity</ccts:DictionaryEntryName>
<ccts:Definition>The quantity value.
The association role provides the information about what is expressed.</ccts:Definition>
<ccts:BusinessTermName>Volume (gas en elektriciteit)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="timeframeType" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_EnergyTariffType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Volume_Quantity.timeframeType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Volume_Quantity.timeframeType</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the timeframe.</ccts:Definition>
<ccts:BusinessTermName>Tariefzone</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Product"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FlowDirection" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesNotification_Volume_Series_Register_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesNotification_Volume_Series_WeekMax_Quantity ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesNotification_Volume_Series_WeekMax_Quantity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#WeekMax_Quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>WeekMax_Quantity</ccts:DictionaryEntryName>
<ccts:Definition>Description of quantities needed in the data exchange. 
The type of the quantity is described either by the role of the association or the quantityType attribute.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="quantity"  type="ccma:VolumeSeriesNotification_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#WeekMax_Quantity.quantity</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>WeekMax_Quantity.quantity</ccts:DictionaryEntryName>
<ccts:Definition>The quantity value.
The association role provides the information about what is expressed.</ccts:Definition>
<ccts:BusinessTermName>Piekbelasting elektriciteit (week)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Product"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_Product">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Product</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Product</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the product with and the applied characteristics.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FlowDirection"  type="ccma:VolumeSeriesNotification_Volume_Series_Register_FlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#FlowDirection</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>FlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>The coded identification of the direction of energy flow.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DateAndOrTime"  type="ccma:VolumeSeriesNotification_Volume_Series_DateAndOrTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#DateAndOrTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateAndOrTime</ccts:DictionaryEntryName>
<ccts:Definition>The Date and or the Time.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: Date ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_Date">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Date</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Date</ccts:DictionaryEntryName>
<ccts:Definition>Datum (date) (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Datum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:date"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#DateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime) (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Decimal ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_Decimal">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Decimal</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Decimal</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Decimal</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DocumentIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#DocumentIDType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DocumentIDType</ccts:DictionaryEntryName>
<ccts:Definition>Unieke document ID (LDT categorie-2).</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyFlowDirectionType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_EnergyFlowDirectionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EnergyFlowDirectionType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyFlowDirectionType</ccts:DictionaryEntryName>
<ccts:Definition>Combinatie indien op de aansluiting naast consumptie (afname uit het net) tevens productie (invoeding op het net) optreedt. Indien geen waarde is opgegeven door de NB wordt default automatisch &lt;i&gt;Levering&lt;/i&gt; gebruikt. Toegestane waarden: LVR, TLV, CMB. Meetrichting per telwerk. Toegestane waarden: LVR, TLV (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code leveringsrichting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyMeterIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_EnergyMeterIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EnergyMeterIDType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyMeterIDType</ccts:DictionaryEntryName>
<ccts:Definition>Meternummer (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Meternummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyProductIdentifierType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_EnergyProductIdentifierType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EnergyProductIdentifierType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyProductIdentifierType</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="13"/>
<xsd:pattern value="[0-9]{13}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyProductType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_EnergyProductType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EnergyProductType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyProductType</ccts:DictionaryEntryName>
<ccts:Definition>Code productsoort (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code productsoort</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyTariffType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_EnergyTariffType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EnergyTariffType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyTariffType</ccts:DictionaryEntryName>
<ccts:Definition>Normaal bij een enkel tarief. Normaal en laag bij dubbel tarief (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code tariefzone</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyUnitType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_EnergyUnitType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#EnergyUnitType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyUnitType</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GLNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#GLNEANCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>GLNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Location Number (GLN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Location Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="13"/>
<xsd:pattern value="[0-9]{13}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GSRNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#GSRNEANCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Identifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Indicator</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Numeric</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: OriginType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_OriginType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#OriginType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>OriginType</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RegisterIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_RegisterIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#RegisterIDType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>RegisterIDType</ccts:DictionaryEntryName>
<ccts:Definition>Telwerkidentificatie (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Telwerkidentificatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesNotification_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesnotification#Text</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
</xsd:schema>