xsd/done/VolumeSeriesAcknowledgement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== VolumeSeriesAcknowledgement XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu 
   Schema version: 1.0.0
   Schema date: 25 September 2020

   Copyright (C) nedu (2020). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="1p0" xmlns:ccma="urn:nedu:measurements:data:volumeseriesacknowledgement:1:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:nedu:measurements:data:volumeseriesacknowledgement:1:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="VolumeSeriesAcknowledgement" type="ccma:VolumeSeriesAcknowledgement">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#VolumeSeriesAcknowledgement</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>VolumeSeriesAcknowledgement</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#VolumeSeriesAcknowledgement</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>VolumeSeriesAcknowledgement</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Acknowledgement_MarketDocument"  type="ccma:VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Acknowledgement_MarketDocument</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Acknowledgement_MarketDocument</ccts:DictionaryEntryName>
<ccts:Definition>An electronic document that is used to acknowledge the reception of a document and to provide information concerning its basic validity.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Acknowledgement_MarketDocument</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Acknowledgement_MarketDocument</ccts:DictionaryEntryName>
<ccts:Definition>An electronic document that is used to acknowledge the reception of a document and to provide information concerning its basic validity.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesAcknowledgement_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Acknowledgement_MarketDocument.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Acknowledgement_MarketDocument.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The unique identification of the document being exchanged within a business process flow.</ccts:Definition>
<ccts:BusinessTermName>Kenmerk bericht (UUID)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="createdDateTime"  type="ccma:VolumeSeriesAcknowledgement_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Acknowledgement_MarketDocument.createdDateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Acknowledgement_MarketDocument.createdDateTime</ccts:DictionaryEntryName>
<ccts:Definition>The date and time of the creation of the document.</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Received_MarketDocument"  type="ccma:VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument_Received_MarketDocument">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Received_MarketDocument</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Received_MarketDocument</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the electronic document that has been received and which is the object of this acknowledgement.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Reason" minOccurs="1" maxOccurs="unbounded" type="ccma:VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument_Reason">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Reason</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reason</ccts:DictionaryEntryName>
<ccts:Definition>The motivation of an act.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument_Reason ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument_Reason">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Reason</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reason</ccts:DictionaryEntryName>
<ccts:Definition>The motivation of an act.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="code"  type="ccma:VolumeSeriesAcknowledgement_ReasonCodeType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Reason.code</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reason.code</ccts:DictionaryEntryName>
<ccts:Definition>The motivation of an act in coded form.</ccts:Definition>
<ccts:BusinessTermName>Code bevestiging/afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="text" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_ReasonTextType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Reason.text</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Reason.text</ccts:DictionaryEntryName>
<ccts:Definition>The textual explanation corresponding to the reason code.</ccts:Definition>
<ccts:BusinessTermName>Toelichting bij de bevestiging/afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument_Received_MarketDocument ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_Acknowledgement_MarketDocument_Received_MarketDocument">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Received_MarketDocument</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Received_MarketDocument</ccts:DictionaryEntryName>
<ccts:Definition>The identification of the electronic document that has been received and which is the object of this acknowledgement.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="mRID"  type="ccma:VolumeSeriesAcknowledgement_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Received_MarketDocument.mRID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Received_MarketDocument.mRID</ccts:DictionaryEntryName>
<ccts:Definition>The unique identification of the document being exchanged within a business process flow.</ccts:Definition>
<ccts:BusinessTermName>Kenmerk notificatie bericht (UUID)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:VolumeSeriesAcknowledgement_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:VolumeSeriesAcknowledgement_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Destination</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Manifest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Source</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Destination</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Receiver</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Service</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Receiver</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:VolumeSeriesAcknowledgement_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Service</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Manifest</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:VolumeSeriesAcknowledgement_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="VolumeSeriesAcknowledgement_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Source</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Source.Authority</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:VolumeSeriesAcknowledgement_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#DateTime</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime) (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DocumentIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_DocumentIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#DocumentIDType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>DocumentIDType</ccts:DictionaryEntryName>
<ccts:Definition>Unieke document ID (LDT categorie-2).</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Identifier</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Indicator</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Numeric</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ReasonCodeType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_ReasonCodeType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ReasonCodeType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ReasonCodeType</ccts:DictionaryEntryName>
<ccts:Definition>Code bevestiging/afwijzing</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ReasonTextType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_ReasonTextType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#ReasonTextType</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>ReasonTextType</ccts:DictionaryEntryName>
<ccts:Definition>Toelichting bij de bevestiging/afwijzing</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="200"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="VolumeSeriesAcknowledgement_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:measurements:data:volumeseriesacknowledgement#Text</ccts:UniqueID>
<ccts:VersionID>1.0</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
</xsd:schema>